/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 28, 2016, 10:21:00 AM
    Author     : Chris Bandara
    Project    : DGFG
*/

/*Login page styles*/

html, body, .container-table {
    height: 100%;
}

.loginbg{
    background :linear-gradient(rgba(0, 196, 255, 0.45), rgba(255, 106, 0, 0.45)),url(../../public/images/black-white-background.jpg);
    background-size: cover;  
}

.container-table {
    display: table;
    margin-left: auto;
    margin-right: auto;
}

#lst-pwd a{
    color: #f7941d;
}

.vertical-center-row {
    display: table-cell;
    vertical-align: middle;
}
.vertical-center-row img{
    margin-bottom: 20px;
    border-radius: 5px;
}
.login-title{
    color: #fff;
    margin: 10px 0;
}
.login-form{
    padding: 20px;
    background: rgba(92, 75, 57, 0.6);
    border-radius: 6px;
}
.login-form button{
    background: #f7941d;
    color: #000;
    border: solid #fff 2px;
}
.login-form button:hover{
    color: #fff;
}

.register-form {
    padding: 20px;
    background:rgba(255, 255, 255, 0.3);
    border-radius: 6px;
}

.event-ov{
    margin-top: 20px;
    padding: 5px;
    background:rgba(92, 75, 57, 0.6);
    border-radius: 6px;
    height: 421px;
    overflow: auto;
    color: #fff;
}

.event-ov h2{
    color: #db8b0b;
}

.event-ov button{
    background: #f7941d;
    color: #000;
    border: solid #fff 1px;
    border-radius: 6px;
    margin-top: 5px;
}
.event-ov button a{
    color: #fff;
}
.event-ov button:hover{
    color: #fff;
}

.register-form h4{
    color: #000;
}

.register-form button{
    background: #f7941d;
    color: #000;
    border: solid #5c4b39 2px;
}

.register-form button:hover{
    color: #fff;
}

.pwd-lost{
    margin-top: -8px;
}


.form-horizontal .radio-inline{
    margin-left: 15px;
}

#infoMessage p{
    color: red;
}

.msg-success{
    display: inline-block
}

table tr td img {
    width: 35px;
    height: 35px;
}

table.dataTable.no-footer {
    border: 1px solid #d2d6de;
}

.table > thead > tr > th {
    border-bottom: 1px dashed #d2d6de;
}

.table-bordered > thead > tr > th{
    border-bottom: 1px solid #d2d6de !important;
}

.table-bordered > tbody > tr > td{
    border: 1px solid #d2d6de !important;
}

img#prof-img {
    max-width: 100px;
}
@media(min-width:768px) {
    img#prof-img{
        float:right;
    }
}
@media(max-width:768px) {
    img#prof-img{
        margin: 0 auto;
    }
}

.btn-space{
    margin-right: 10px;
}

.pwd-error{
    color: red;
}

a .aprv.a.hover {
    cursor: pointer;
}

table.dataTable thead .sorting_desc:after {
    content: ""; 
}

table.dataTable thead .sorting_asc:after {
    content: ""; 
}

table.dataTable thead .sorting:after {
    opacity: 0.2;
    content: "";
}

table > tbody > tr > td > a:hover, a:hover{
    cursor: pointer;
}

.modal-content{
    padding: 3%;
    border-radius: 5px !important;
}

.modal-content h2{
    padding: 10px 0;
    color: #db8b0b;
}

.modal-content img{
    margin-bottom: 20px
}
.modal-content table{
    width: 60%;
    margin: 0px auto;
    float: none;
}

input[type="checkbox"],input[type="radio"]{
    margin: 4px 5px 0;
}

#tab_inner{
    width: 100%;
}

.critic-1{
    background-color: #284907 !important;
    border-color: #284907 !important;
}

.critic-2{
    background-color: #1695A3 !important;
    border-color: #1695A3 !important;
}

.critic-3{
    background-color: #EB7F00 !important;
    border-color: #EB7F00 !important;
}

.critic-4{
    background-color: #B64926 !important;
    border-color: #B64926 !important;
}

.critic-5{
    background-color: #8E2800 !important;
    border-color: #8E2800 !important;
}

.txt-wrap{
    text-overflow:ellipsis;
}

#dashboard #widget1 img{
    max-width: 60px;
}

#dashboard #widget1 li:nth-child(2){
    padding-bottom: 1em;
    overflow: hidden;
}

#dashboard #widget1 h4,#widget2 h4{
    color: #fff;
}

#dashboard #widget1 .col-md-4{
    margin-bottom: 5px;
}

#dashboard #widget1 small{
    color: #f39c12 !important;
}

#dashboard .panel-default > .panel-heading{
    background-color: #5c4b39;
    padding: 4px 15px;
}

#dashboard .panel > .panel-body{
    max-height: 20em;
    overflow: auto;
}

.carousel-caption{
    position: initial;
    color: #000;
    text-shadow: none;
}

.carousel-indicators li{
    border: 1px solid #f39c12;
}

ul.ui-autocomplete.ui-menu{
    max-height:107px;
    overflow: scroll;
    background-color: #ecf0f5;
    list-style: none;
    line-height: 2;

}

ul.ui-autocomplete.ui-menu li:first-child a{
    color: #5c4b39;
}

ul.ui-autocomplete.ui-menu li a{
    color: #000;
}

#ui-id-1{
    z-index: 999;
}

.navbar-nav > .notifications-menu > .dropdown-menu > li .menu > li > a > h4{
    padding: 0;
    margin: 3px 0 0 20px;
    color: #444444;
    font-size: 14px;
    position: relative;
}

.navbar-nav > .messages-menu > .dropdown-menu > li .menu > li > a > p{
    margin: 0 0 0 20px !important; 
}
#msg_modal .modal-content .col-md-12{
    padding: 0;
}
hr{
    border: 0;
    height: 1px;
    background: #ccc;
}
/* ---- Blog Panel Styles ---- */
.blog-body{
    overflow: hidden;
    
    height: 118px;
}
.blog-body h2 a{
    /* color:#f39c12 !important; */
}

.over-img{
    position: absolute; 
    top: 85px; 
    left: 8px; 
    width: auto;
    background: rgba(0, 0, 0, 0.7);
    padding: 0px 8px 8px 8px;
    color: #fff;
}

/* ---- grid ---- */

.grid {
    /* max-width: 1000px; */
}
.grid ul li{
    padding-top: 6px;
}
/* clearfix */
.grid:after {
    content: '';
    display: block;
    clear: both;
}

/* ---- grid-item ---- */

.grid-item {
    width: 200px;
    height: 140px;
    padding: 3px;
    float: left;
    /* vertical gutter */
    margin-bottom: 8px;
    margin-right: 0px;
    background: #fff;
    border: 1px solid #f1f1f1;
    border-color: #dddddd;
    border-radius: 5px;
}

.grid-item--width1 { width: 200px; }
.grid-item--width2 { width: 340px; }
.grid-item--width3 { width: 520px; }
.grid-item--width4 { width: 780px; }

.grid-item--height2 { height: 350px; }
.grid-item--height3 { height: 260px; }
.grid-item--height4 { height: 360px; }

.msg-wrapper{
    border: solid #ccc 1px;
    padding: 20px;
    border-radius: 6px;
    margin-bottom: 5px;
}
